body{
    background-image: url('imgs/fundo.png');
        background-size: 1920px 980px;
        background-repeat: no-repeat;
        background-attachment: fixed;

    
h1 {
    color: white;}

h2 {
    color: white;}

h3 {
    color: white;}

th {
    color: rgb(0, 0, 0);}

td {
    color: rgb(0, 0, 0);}

p {
    color: white;}

ul {
    color: white;}

ol {
    color: white;}

 

}